/* ------------------- */
/* Colors              */
/* ------------------- */
$clr-hsl-neutral-100: hsl(0, 0%, 100%);
$clr-hsl-neutral-200: hsl(212, 100%, 95%);
$clr-hsl-primary-800: hsl(217, 64%, 11%);
$clr-hsl-primary-700: hsl(218, 58%, 16%);
$clr-hsl-primary-400: hsl(219, 41%, 23%);
$clr-hsl-primary-300: hsl(225, 20%, 61%);
$clr-hsl-primary-100: hsl(226, 70%, 88%);
$clr-hsl-primary-200: hsl(225, 31%, 74%);
$clr-hsl-accent-400: hsl(166, 100%, 70%);
