@use './colors' as *;
@use './typography' as *;

$border-radius: 4px;

.btn {
  padding: 1rem 2rem;
  background: transparent;
  border: 1px solid hsl($clr-hsl-accent-400);
  border-radius: $border-radius;
  color: hsl($clr-hsl-accent-400) !important;
  text-decoration: none;
  cursor: pointer;
  a {
    text-decoration: none;
  }
}

.mobile-nav-toggle {
  display: block;
  position: fixed;
  top: 1.65rem;
  right: 1.5rem;
  background: transparent;
  border: 0;
  background-image: url('../img/icon-hamburger.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  aspect-ratio: 1;
  cursor: pointer;
  transition: 0.3s;
  z-index: 101;
}

.mobile-nav-toggle[aria-expanded='true'] {
  background-image: url('../img/icon-close.svg');
}

.primary-navigation {
  --underline-gap: 0.5rem;
  position: fixed;
  inset: 0 0 0 30%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: min(20rem, 15vh) 2rem;
  margin: 0;
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
  z-index: 100;
  background-color: hsl($clr-hsl-primary-700);
  text-align: center;

  a {
    text-decoration: none;
    font-size: 1.25rem;

    span {
      font-size: 1rem;
      display: block;
      color: hsl($clr-hsl-accent-400);
    }
  }
}

.primary-navigation[data-visible='true'] {
  transform: translateX(0);
}

.main {
  display: block;
  /* Jeśli chcesz, aby main miał stałą wysokość: */
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  
  p:not([class]) {
    max-width: 35ch;
    line-height: 1.75rem;
  }
}

.about-me {
  min-height: 90vh;
  padding: 4rem 2rem 0;
  h1 {
    font-size: 20px;
    color: hsl($clr-hsl-accent-400);
  }

  h2 {
    font-size: 38px;
    font-weight: bold;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    font-size: 16px;
  }

  // .about-me {
  //   &__resume {
  //     margin-block: 2.5rem;
  //   }
  // }
}
// .main-content {
//   .section {
//     display: flex;
//     flex-direction: column;
//     padding: 2rem;
//
//   }

//   .about-me2 {
//     // height: 100vh;
//   }
// }
