@use './colors' as *;
@use './typography' as *;

@media (max-width: 35rem) {
  .mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 2rem;
    right: 1rem;
    background: transparent;
    border: 0;
    background-image: url('../img/icon-hamburger.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    cursor: pointer;
    transition: 0.3s;
    z-index: 101;
  }
}
