/* ------------------- */
/* Typography          */
/* ------------------- */

/* font-sizes */
$fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
$fs-800: 3.5rem;
$fs-700: 1.5rem;
$fs-600: 1rem;
$fs-650: 1.25rem;
$fs-500: 1.75rem;
$fs-400: 0.9375rem;
$fs-300: 1rem;
$fs-200: 0.875rem;

/* font-families */
$ff-base: 'Outfit', sans-serif;

/* font-weights */
$fw-regular: 300;
$fw-semi-bold: 400;
$fw-bold: 700;

.ff-sans-out {
  font-family: $ff-base;
}

.fw-regular {
  font-weight: $fw-regular;
}

.fw-semi-bold {
  font-weight: $fw-semi-bold;
}

.fw-bold {
  font-weight: $fw-bold;
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.decoration-none {
  text-decoration: none;
}

.fs-900 {
  font-size: $fs-900;
}
.fs-800 {
  font-size: $fs-800;
}
.fs-700 {
  font-size: $fs-700;
}
.fs-600 {
  font-size: $fs-600;
}
.fs-500 {
  font-size: $fs-500;
}
.fs-400 {
  font-size: $fs-400;
}
.fs-300 {
  font-size: $fs-300;
}
.fs-200 {
  font-size: $fs-200;
}

@media (min-width: 35em) {
  .fs-800 {
    font-size: 5rem;
  }
  .fs-700 {
    font-size: 2.5rem;
  }
  .fs-600 {
    font-size: 1.5rem;
  }
  .fs-400 {
    font-size: 1rem;
  }
}

@media (min-width: 45em) {
  .fs-800 {
    font-size: 6.25rem;
  }
  .fs-700 {
    font-size: 3.5rem;
  }
  .fs-600 {
    font-size: 2rem;
  }
  .fs-400 {
    font-size: 1.125rem;
  }
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}
