@use './reset' as *;
@use './utility' as *;
@use './colors' as *;
@use './typography' as *;
@use './components' as *;

html {
  scroll-behavior: smooth;
}

body {
  color: $clr-primary-300;
  font-family: $ff-base;
  font-size: $fs-400;
  font-weight: $fw-regular;
  background-color: $clr-primary-800;
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $clr-primary-100;
}

