@use './reset' as *;
@use './utility' as *;
@use './colors' as *;
@use './typography' as *;
@use './components' as *;

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  color: hsla($clr-hsl-primary-300);
  font-family: $ff-base;
  font-size: $fs-400;
  font-weight: $fw-regular;
  background-color: hsla($clr-hsl-primary-800);
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
}

.blur-bg {
  filter: blur(5px) brightness(0.7);
}
